*{
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.navbar li a {
    text-decoration: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    gap: 1.25rem;
}
.borde{
    background-color: #088395;
    border: 3px solid #dbe4ed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mapa{
    margin-left: 40%;
}
.direccion{
    margin-left: 40%;
    font-size: xx-large;
}
p{
    color: black;
    font-size: x-large;
    justify-content: space-between;
}
section h1{
    font-family: "Open Sans", sans-serif;
    color:#088395
}
h1{
    font-style: oblique;
    font-size:400%;
}
h3{
    color: #315B9A;
}
body{
    background-image: url(../assets/img/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-style:oblique;
}
main h2{
    color: #071952;
    padding: 100;
    margin: 200;
    display: flex;
    font-size: xx-large;
    justify-content: center;
}
section article h4{
    color: #31568d;
}
h4 button{
    background-color: #3990c2b4;
    height: 50px;
    width: 150px;
}
.parrafo-uno p{
    color: black;
    font-size: large;
}
section article .img1{
    clip-path: circle(50%);
    width: 200px;
    height: 200px;
    gap: 1.25rem;
}
.elementos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
div p{
    font-weight: 900;
    color:black
    
}
div img{
    clip-path: circle(85%);
    width: 500px;
    height: 500px;
    margin-block-start: 10%;
    
}
section article div h3{
    width:2515px;
    height: 50px;
    background-color:rgba(255, 228, 196, 0.336); 
    border-radius: 1.5625rem;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0px 23px rgba(0, 0, 0, 0.436);
    color:red
}
.section p{
    color: black;
    font-size: medium;
    font-weight: 600;
}
.container-card{
    width: 15.625rem;
    height: 18.75rem;
    border-radius: 1.5625rem;
    text-align: center;
    box-shadow: 5px 0px 23px rgba(0, 0, 0, 0.436);
    margin-block-start: 10%;
    object-fit: contain;
}
.container-card .producto-img{
    width: 100%;
    height: 70%;
    object-fit: contain;
}
.container-card-1{
    width: 18.75rem;
    height: 21.875rem;
    border-radius: 1.5625rem;
    text-align: center;
    box-shadow: 5px 0px 23px rgba(0, 0, 0, 0.436);
    margin-block-start: 10%;
}
section article p{
    color:#071952 ;
}
section article div img{
    clip-path: circle(65%);
    object-fit: contain;
    width: 12.5rem;
    height: 12.5rem;
}
.dueños-1{
    margin-left: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 800px;
    width: 600px;
}
.container-products{
    display: flex;
    justify-content: center;
    justify-content:space-around;
}
.ideales{
    width:2515px;
    height: 6.25rem;
    background-color:rgba(255, 228, 196, 0.521); 
    border-radius: 1.5625rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    box-shadow: 5px 0px 23px rgba(0, 0, 0, 0.436);
}
.navbar{
    justify-content: end;
}
section.ideales p{
    color: black;
    font-size:large;
}
section.ideales div img{
    text-align:center;
    width: 75px;
    height: 75px;
    display: flex;
}
.registro{
    width: 2515px;
    height: 200px;
    background-color: rgb(189, 212, 212);
    padding: 2;
}
div h3{
    padding: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-block-start: 5%;
}
h5{
    padding: 0;
    display: flex;
    justify-content: center;
}
.boton{
    display: flex;
    justify-content: center;
}
.grid-1{
    justify-content: end;
    align-self: flex-end;
}
footer img{
    justify-content: space-between;
    align-items: flex-end;
    justify-content: flex-end;
}
.grid{
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(2,1fr);
}
.img1{
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid h1{
    grid-column-start: 2 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid h3{
    grid-column-start:  1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-2{
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.grid-2 p{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-2 .img2{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid-2 .img3{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid-2 .img4{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid-2 .redes-1{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
}
.grid-2 .redes-2{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
}
.grid-2 .redes-3{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 4;
}
.datos{
    margin-left: 10%;
    grid-column-start: 1 ;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}
.grid ul{
    grid-column-start: 1 ;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
@media (max-width:1440px){
    .registro{
        width: 1436px;
    }
    .ideales{
        width: 1436px;px;
    }
    section article div h3{
        width: 1436px;px;
    }
}
@media (max-width:1024px){
    .registro{
        width: 1020px;
    }
    .ideales{
        width: 1020px;
    }
    .borde{
        width: 1020px;
    }
        .grid-2 p{
            grid-column-start: 8;
            grid-column-end: 11;
        }
        .grid-2 .img2{
            grid-column-start: 8;
            grid-column-end: 9;
        }
        .grid-2 .img3{
            grid-column-start: 9;
            grid-column-end: 10;
        }
        .grid-2 .img4{
            grid-column-start: 10;
            grid-column-end: 11;
        }
        .grid-2 .redes-1{
            grid-column-start: 8;
            grid-column-end: 9;
        }
        .grid-2 .redes-2{
            grid-column-start: 9;
            grid-column-end: 10;
        }
        .grid-2 .redes-3{
            grid-column-start: 10;
            grid-column-end: 11;
        }
        section article div h3{
            width: 1020px;
        }
    }
@media(max-width:768px){
    .navbar{
        font-family: sans-serif;
    }
    .ideales{
        width: 768px;
    }
    .container-products{
        width: 768px;
    }
    .registro{
        width: 768px;
    }
    h2{
        width: 768px;
    }
    .borde{
        width: 768px;
    }
    .dueños-1{
        margin-left: 11%;
    }
}
@media(max-width: 425px){
    .ideales{
        width: 425px;
        height: 70px;
        flex-direction: column;
    }
    main h2{
        display: flex;
        justify-content: left;
        text-align: center;
    }
    section.ideales p{
        justify-content: center;
        color: black;
        font-size:small;
    }
    section.ideales div img{
        text-align:center;
        width: 50px;
        height: 50px;
        display: flex;
    }
    .nosotros{
        width: 400px;
        height: 30px;
        box-shadow: 7px 0px 25px rgba(87, 127, 214, 0.699);
        font-size: x-large;
        text-align: center;
        justify-content: center;
    }
    .text{
        width: 400px;
        height: 50px;
        padding: 2ps 3px;
        text-align: center;
        box-shadow: 7px 0px 25px rgba(0, 0, 0, 0.436);
        font-size: medium;
        justify-content: center;
    }
    .text-1{
        width: 400px;
        height: 50px;
        padding: 2ps 3px;
        text-align: center;
        box-shadow: 7px 0px 25px rgba(87, 125, 214, 0.699);
        font-size: medium;
        justify-content: center;
        margin-top: 5%;
        border: 1px solid;
        padding: 2px 5px;
    }
    .container-products{
        justify-items: center;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        margin-left: 10%;
        margin-block: 0%;
        margin-bottom: 8%;
    }
    .texto{
        width: 400px;
        height: 490px;
        padding: 2px 5px;
        border: 1px solid;
        overflow: hidden;
        text-align:center;
        box-shadow: 5px 0px 23px rgba(0, 0, 0, 0.436);
        margin-block-start: 5%;
        font-size: large;
    }
    .dueños-1{
        width: 300px;
        height: 300px;
    }
    .registro{
        width: 420px;
        height: 160px;
        background-color: rgb(189, 212, 212);
        padding: 0;
        margin-left: 0;
    }
    .datos{
        margin-left: 10%;
        grid-column-start: 1 ;
        grid-column-end: 16;
        grid-row-start: 6;
        grid-row-end: 9;
    }
    section article div h3{
        width: 400px;
        height: 50px;
        padding: 2px 5px;
        border: 1px solid;
        overflow: hidden;
        text-align:center;
        box-shadow: 5px 0px 23px rgba(0, 0, 0, 0.436);
        margin-block-start: 5%;
        font-size: large;
    }
    .container-card-1{
        width: 250px;
        height: 250px;
        border-radius: 1.5625rem;
        text-align: center;
        box-shadow: 5px 0px 23px rgba(0, 0, 0, 0.436);
        margin-block-start: 10%;
    }
    .elementos img{
        width: 150px;
        height: 150px;
    }
    .container-products .container-card-1 p{
        font-size: small;
    } 
    .grid-2{
        display: grid;
        width: 100%;
        height: 200px;
        grid-template-columns: repeat(9,1fr);
        grid-template-rows: repeat(10,1fr);
    }
    .grid-2 p{
        font-size: medium;
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .grid-2 .img2{
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .grid-2 .img3{
        grid-column-start: 9 ;
        grid-column-end: 10;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .grid-2 .img4{
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .grid-2 .redes-1{
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .grid-2 .redes-2{
        grid-column-start: 9;
        grid-column-end: 10;
        grid-row-start: 8;
        grid-row-end: 7;
    }
    .grid-2 .redes-3{
        grid-column-start: 10 ;
        grid-column-end: 11;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .mapa{
        height: 350px;
        width: 350px;
        margin-left: 5%;
    }
    .direccion{
        width: 400px;
        height: 50px;
        padding: 2ps 3px;
        text-align: center;
        box-shadow: 7px 0px 25px rgba(177, 184, 201, 0.699);
        font-size: medium;
        justify-content: center;
        margin-top: 5%;
        border: 1px solid;
        padding: 2px 5px;
    }
    .borde{
        width: 415px;
        justify-content:space-around;
    }
}