@media (max-width:768px){
    main{
        section article div h3{
            width: 750px;
        }
        .ideales{
            width: 765px;
        }
        .registro{
            width: 745px;
        }
        h2{
            width: 768px;
        }
        .borde{
            img{
                width: 45px;
                height:45px;
            }
            p{
                font-size: large;
            }
            width: 715px;
        }
        .dueños-1{
            margin-left: 11%;
        }
        .container-products{
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 0%;
            justify-content: space-around;
            gap: .0938rem;
        }
    .mapa{
        width: 500px;
        height: 500px;
        margin-left: 15%;
    }
    .direccion{
        width: 400px;
        height: 50px;
        padding: 2px 3px;
        box-shadow: 7px 0px 25px rgba(177, 184, 201, 0.699);
        font-size: medium;
        border: 1px solid;
        padding: 2px 5px;
        margin-left: 15%;
    }
}
    .grid-2 .redes-1{
        margin-inline: 15px;
}
    .grid-2 .redes-2{
        margin-inline: 15px;
}
    .grid-2 .redes-3{
        margin-inline: 15px;
}
}