@media (max-width:1920px){
    main{
        .registro{
            width: 100%;
        }
        .ideales{ 
            width: 100%;
        }
        section article div h3{
            width: 100%;
            justify-content: center;
        }
    .mapa{
        width: 31.25rem;
        height: 31.25rem;
        margin-left: 35%;
    }
    .direccion{
        width: 25rem;
        height: 3.125rem;
        padding: .125rem .1875rem;
        box-shadow: .4375rem 0rem 1.5625rem rgba(177, 184, 201, 0.699);
        font-size: medium;
        border: .0625rem solid;
        padding: .125rem .3125rem;
        margin-left: 35%;
    }
    .dueños-1{
        margin-left: 35%;
    }
    .borde{
        flex-direction: column;
    }
        }
            }
